.history {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  
    h2 {
      margin-top: 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      padding: 10px;
      border: 1px solid #ddd;
      margin-top: -1px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
  
      &:hover {
        background-color: #e4e4e4;
      }
    }
  
    .method {
      color: blue;
    }
  }
  